# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Conda
.conda/
chan.py/.conda/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
test.png
